/* BODY CSS */
* {
  margin: 0;
  background: #FFD7D7;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Header  AND Nav CSS */
h1{
  text-align: center;
  background: linear-gradient(#FD2D01, #FFD7D7);
  padding: 10px;
}
.nav-container {
  display: flex;
}

.flex-link{
  padding: 0px 30px 0px 30px;
}

.bar-Nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
}
.title {
  border-bottom: 1px solid black;
}

/* AUTH Page CSS*/

.img-container {
  border: 1px solid greenyellow;
  display: flex;
  justify-content: center;
  align-items: center;

}
.log-container {
  display: flex;
  justify-content: space-between;
}

/* Log */
.form-container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
li {
      cursor: pointer;
      border-radius: 20px;
      padding: 10px 20px;
      transition: 0.2s;
}
li:hover {
        transform: translateX(3px);
}
.sign-container {
  position: relative;
  left: 350px;
}
.active-btn {
  background: linear-gradient(#FFD7D7,#FD2D01);
  box-shadow: 1px 2px 3px #FD2D01;
}
.active-btn:hover {
  background: linear-gradient(#FFD7D7,#FD2D01 );
  }

  li {
      cursor: pointer;
      border-radius: 20px;
      padding: 10px 20px;
      transition: 0.2s;
}

#login {
      position: relative;
          content: "";
          bottom: -10px;
          width: 100%;
}   
#register {
  width: 100%;
}     
/* HOME CSS */
.section-page {
  display: flex;
  justify-content: center;
}
/* POSTE CARD CSS*/

#post {
  width: 90%;
  margin: 20px;
  border: 1px solid black;
  border-radius: 15px;
}
label{
  padding-bottom: 5px;
    display: block;
    margin-top: 20px;
}
.user-id-email {
  display: flex;
  margin: 10px 10px 30px 10px;
  border: 1px solid #FFD7D7;
  box-shadow: 1px 1px 10px #FD2D01;
  border-radius: 15px;
  align-items: center;
}

#user-post {
  padding-left: 10px;
}

button{
  padding: 15px;
  border-radius: 10px;
  background: linear-gradient(#FFD7D7,#FD2D01);
}

.addBtton{
  text-align: end;
  margin-right: 30px;
}

.form-post{
  margin: 10px;
}

#title-post {
  width: 75%;
  background-color: white;
  box-shadow: 1px 1px 10px  #FD2D01;
  border-color: #FD2D01;
  border-radius: 15px;
  margin-left: 10px;
  padding: 5px 0px 5px 0px;
}
.post-title{
  width: 30%;
  background-color: white;
  box-shadow: 1px 1px 10px  #FD2D01;
  border-color: #FD2D01;
  border-radius: 10px;
  padding: 15px 0px 15px 0px;
}
ul
{
  list-style-type: none;
  padding: 0;
}
#text-post {
  background-color: white;
  box-shadow: 1px 1px 10px #FD2D01;
  border-radius: 10px;
  margin: 0px 10px 10px 10px;
  height: 100px;
  border-color: #FD2D01;
  width: 75%;
}
.text-to-post{
  background-color: white;
  box-shadow: 1px 1px 10px #FD2D01;
  border-radius: 10px;
  margin: 0px 10px 10px 0px;
  height: 100px;
  border-color: #FD2D01;
  width: 100%;
}
#post-image {
  text-align: center;
  padding: 10px 20px;

}
.label-file {
  cursor: pointer;
  color: #FD2D01;
  font-weight: bold;
}

.input-file {
  display: none;
}
/* CARD CSS */
.thread-bloc{
  width: auto;
}
.scroll {
  width: auto;
  border: 1px solid green;
  padding: 20px;
}
.card {
  border: 1px solid purple;
  width: auto;
}
/* FOOTER CSS */
.footer-container {
  display: flex;
  justify-content: space-between;
  background-color: #4E5166;
  height: 200px;
}

.logo-size{
  height: 200px;
  width: 100%;
}

.back-color-footer{
  background-color: #4E5166;
}