* {
    margin: 0;
}
.barre-Nav {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: solid 2px black;
}
.first-nav {
    width: 100%;
}
.second-nav {
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
    border: solid 1px red;
}
ul {
    display: flex;
}
.flex-li {
    padding: 10px;
}
.third-nav
{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
}